$header-height: 70px;
$header-logo-padding: 20px;
$header-menu-item-border-width: 3px;

header {
  position: relative;
  display: flex;
  height: $header-height;
  background: $white;

  align-items: stretch;
  justify-content: space-between;

  ul,
  li {
    padding: 0;
    margin: 0;
  }
}

.header--logo {
  display: flex;
  height: $header-height;
  padding: 0 $header-logo-padding;
  margin-left: $container-margin - $header-logo-padding;
  font-family: $font-cocogoose;
  font-size: 20px;
  line-height: $header-height;
  color: $shark;
  text-decoration: none;
  text-transform: lowercase;
  transition: background-color $transition-duration, color $transition-duration;

  align-items: stretch;

  &:hover {
    color: $white;
    background-color: $shark;
  }

  &-image {
    width: 35px;
    margin-right: 7px;
  }
}

.header--menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  ul {
    display: flex;
    height: $header-height;

    align-items: stretch;
    justify-content: space-between;
  }

  &-item {
    display: inline-block;
    padding-top: $header-menu-item-border-width;
    margin: 0 $header-logo-padding;
    font-weight: bold;
    line-height: $header-height - $header-menu-item-border-width * 2;
    color: $gull-gray;
    text-decoration: none;

    &.router-link-active {
      border-bottom: $header-menu-item-border-width solid $chetwode-blue;
    }
  }
}

.header--right {
  display: flex;
}

.header--right-actions {
  display: flex;

  &-item {
    display: inline-block;
    padding-top: $header-menu-item-border-width;
    margin: 0 $header-logo-padding;
    line-height: $header-height - $header-menu-item-border-width * 2;
    text-decoration: none;

    align-items: stretch;
    justify-content: space-between;
  }
}

.header--right-user {
  display: flex;
  padding: 0 100px;
  line-height: $header-height;
  background-color: $chetwode-blue;
}
