<header class="c-colllect-header">
  <router-link :to="{ name: 'inbox' }" class="c-colllect-header--logo">
    Colllect
  </router-link>

  <nav class="c-colllect-header--menu">
    <ul>
      <li>
        <router-link :to="{ name: 'inbox' }" class="c-colllect-header--menu-item">Inbox</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'collections' }" class="c-colllect-header--menu-item">Collections</router-link>
      </li>
    </ul>
  </nav>

  <div class="c-colllect-header--right">
    <ul class="c-colllect-header--right-actions">
      <li>
        <router-link :to="{ name: 'inbox' }" class="c-colllect-header--right-actions-item">Image</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'collections' }" class="c-colllect-header--right-actions-item">Texte</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'inbox' }" class="c-colllect-header--right-actions-item">Link</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'collections' }" class="c-colllect-header--right-actions-item">Color</router-link>
      </li>
    </ul>
    <div class="c-colllect-header--right-user">
      {{ nickname }}
    </div>
  </div>
</header>
