/app/config/parameters.yml
/build/
/app/behat.db.cache
/app/behat.db.cache.bak
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/jwt
/var/jwt/*
!var/jwt/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/css/
/web/js/
/src/*/Entity/*~
/uploads/*
