.c-colllect-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color-shark, 0.9);
  z-index: 5;
  transition: opacity 200ms;
}

.c-colllect-modal::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom right, $color-cold-purple, $color-cornflower-blue);
  transform: skewX(-70deg) scaleX(1) translateX(25%);
  transition: transform 200ms;
}

.c-colllect-modal__transition-enter,
.c-colllect-modal__transition-leave-to {
  opacity: 0;
}

.c-colllect-modal__transition-enter::before,
.c-colllect-modal__transition-leave-to::before {
  will-change: transform;
  transform: skewX(-70deg) scaleX(0) translateX(20%);
}

.c-colllect-modal--box {
  position: relative;
  margin: auto;
  width: 500px;
  color: $color-shark;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 0 3px rgba($color-shark, 0.2), 0 5px 5px rgba($color-shark, 0.15);
  transform: scale(1);
  transition: transform 200ms;
}

.c-colllect-modal__transition-enter .c-colllect-modal--box,
.c-colllect-modal__transition-leave-to .c-colllect-modal--box {
  transform: scale(0.8);
}

.c-colllect-modal--close {
  position: absolute;
  top: 59px;
  right: 60px;
  width: 43px;
  height: 43px;
  line-height: 39px;
  font-size: 28px;
  text-align: center;
  color: $color-shark;
  background: none;
  border: 2px solid rgba($color-shark, 0.2);
  border-radius: 100%;
  transition: border 150ms, background-color 150ms;
}

.c-colllect-modal--close:hover {
  color: $color-chetwode-blue;
  font-weight: bold;
  background: $color-catskill-white;
  border-color: $color-chetwode-blue;
}
