.c-colllect-colllection {
  padding: 20px;
}

.c-colllect-colllection--elements {
  position: relative;
  width: calc(100% + #{$grid-gutter * 2}) !important;
  margin: 0 -$grid-gutter;
  opacity: 0;
  transition: opacity 300ms;
}

.c-colllect-colllection--elements[style] {
  opacity: 1;
}
