.c-colllect-colllection--title {
  padding: 20px 20px 0;
}

.c-colllect-colllection--elements {
  position: relative;
  width: 100% !important;
  opacity: 0;
  transition: opacity 300ms;
}

.c-colllect-colllection__loaded .c-colllect-colllection--elements {
  opacity: 1;
}
