<div>
  <form v-if="!isAuthenticated" @submit.prevent="login">
    <div v-if="error" style="color: red">
      Error: {{ error }}
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" v-model="email" id="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" v-model="password" id="password" required>
    </div>
    <div>
      <label for="stay-logged-in">Stay logged in</label>
      <input type="checkbox" v-model="stayLoggedIn" id="stay-logged-in" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <button v-else @click.prevent="logout">Logout</button>
</div>
