<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Colllect{% endblock %}</title>
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
