# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     collectio
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    jwt_key_pass_phrase: ~

    # Can contain the alias of one service tagged with app.flysystem_adapter
    default_adapter:   local

    # Folder where local adapter store users files
    local_root_path:   "%kernel.root_dir%/../uploads"

    # Create an app on https://www.dropbox.com/developers/apps get the app secret on the app page
    dropbox_secret:    DropboxSecret

    # Create a secured user https://console.aws.amazon.com/iam then go to "Security Credentials" > "Create Access Key"
    # Create a bucket here https://console.aws.amazon.com/s3
    aws_s3_key:        AwsS3Key
    aws_s3_secret:     AwsS3Secret
    aws_s3_region:     AwsS3Region
    aws_s3_bucket:     AwsS3BucketName
