$cornflower-blue: #769bf7;
$cold-purple: #b49edc;
$chetwode-blue: #7b80de;
$rhino: #313a68;

$white: #ffffff;
$catskill-white: #f3f7fa;
$gull-gray: #92a4b1;
$regent-gray: #8598a5;
$outer-space: #31383c;
$shark: #1d1f21;

$wild-strawberry: #ff3d94;
$violet-red: #f72b86;
$persian-red: #d23636;
