$color-cold-purple: #b49edc;

$color-cornflower-blue: #769bf7;
$color-chetwode-blue: #6c7af4;
$color-scampi: #565da3;
$color-rhino: #313a68;

$color-white: #ffffff;
$color-catskill-white: #f3f7fa;
$color-gull-gray: #92a4b1;
$color-regent-gray: #8598a5;
$color-outer-space: #31383c;
$color-shark: #1d1f21;

$color-wild-strawberry: #ff3d94;
$color-violet-red: #f72b86;
$color-persian-red: #d23636;
