.c-colllect-checkbox.c-colllect-checkbox__disabled {
  opacity: 0.3;
}

.c-colllect-checkbox {
  position: relative;
  margin: 0 0 20px;
  height: 38px;
}

.c-colllect-checkbox--label {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  line-height: 38px;
  padding: 0 10px 0 36px;
  color: $rhino;
  font-size: 15px;
  font-family: $font-monserrat;
  font-weight: 700;
  z-index: 1;
}

.c-colllect-checkbox--input {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 0;
  width: 0;
  opacity: 0;
}

.c-colllect-checkbox--checkbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid $chetwode-blue;
  background-color: $white;
  margin: 0 10px 0 0;
  border-radius: $border-radius;
  transform: translateY(6px);
  transition: background-color 150ms, border-color 150ms;
}

.c-colllect-checkbox--checkbox::before,
.c-colllect-checkbox--checkbox::after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 5px;
  background: $chetwode-blue;
  height: 3px;
  width: 6px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 150ms;
}

.c-colllect-checkbox--checkbox::after {
  width: 12px;
  transform: rotate(-45deg) translate(2px, 1px);
}

.c-colllect-checkbox:not(.c-colllect-checkbox__disabled) .c-colllect-checkbox--label:hover ~ .c-colllect-checkbox--checkbox,
.c-colllect-checkbox:not(.c-colllect-checkbox__disabled) .c-colllect-checkbox--input:focus + .c-colllect-checkbox--checkbox {
  box-shadow: 0 10px 20px rgba($chetwode-blue, 0.12);
}

.c-colllect-checkbox:not(.c-colllect-checkbox__disabled) .c-colllect-checkbox--label:active ~ .c-colllect-checkbox--checkbox {
  transform: translateY(6px) scale(0.9);
}

.c-colllect-checkbox--input:checked + .c-colllect-checkbox--checkbox::before,
.c-colllect-checkbox--input:checked + .c-colllect-checkbox--checkbox::after {
  opacity: 1;
}
