{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <form method="post" action="/logout">
        Logged in as <strong>{{ app.user.nickname }}</strong> ({{ app.user.email }})<br>

        <br>

        <button class="btn btn-lg btn-primary" type="submit">
            Log out
        </button>
    </form>
{% endblock %}
