<div class="c-colllect-add-element">
  <div class="c-colllect-add-element--form-column">
    <div class="c-colllect-add-element--title">Add Element</div>

    <div class="field">
      <label for="element-url">URL Address</label>
      <input type="text" id="element-url" name="url" placeholder="colllect.io">
    </div>
    <div class="field">
      <label for="element-name">Name</label>
      <input type="text" id="element-name" name="name">
    </div>
    <button>Add Element</button>
  </div>
  <div class="c-colllect-add-element--tags-column">

  </div>
</div>
