html,
body {
  color: $color-white;
  background-color: $color-shark;
  font: $font-default;
}

strong {
  font-weight: $font-weight-source-sans-pro-semibold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-app--main {
  height: calc(100vh - 70px);
  overflow: auto;
}

.m-app--svg-symbols {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}
